@model IEnumerable<HotelManagementSys.Models.RoomType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceInRs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceInRs)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { }) |
                @Html.ActionLink("Details", "Details", new { }) |
                @Html.ActionLink("Delete", "Delete", new {  })
            </td>
        </tr>
}
    </tbody>
</table>
